.stories {
    width: 510px;
    margin-top : 22px;
    margin-left : 360px;
    padding: 16px 0;
    display: flex;
    gap: 14px;
  }
  
  .story {
    cursor: pointer;
    position: relative;
  }

  .story__avatar {
    width: 52px;
    height: 52px;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0), radial-gradient(white 65%, transparent 0),linear-gradient(to top right, orange, deeppink);
    border: none;
    object-fit: cover;
  }
  .story__avatar.active{
    background: none;

  }
  .story__picture {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    height: 45px;
    width: 45px;
  }
  
  .story__user {
    padding-top: 3px;
    font-size: 8px;
    font-weight: 400;
    text-transform: lowercase;
    text-align : center
  }
