.sidebar {
    top:0;
    left:0;
    bottom :0;
    position : fixed;
    width: 180px;
    flex-direction: column;
    border: 1px solid rgb(205, 204, 204);
    z-index: 100;
    background: white;
}

.sidebar_icon{
    margin-left: 15px;
    margin-top: 20px;
}

.side__logo img{
    width: 95px;
    margin-left: 10px;
    margin-top: 20px;
}
.side__home,
.side__search,
.side__compass,
.side__reels,
.side__compass,
.side__message,
.side__notification,
.side__plus,
.side__profile,
.side_menu
{
    display: flex;
    align-items: center;
    border: none;
    margin :13px 0;
    background: none;
    border-radius: 7px; 
}

.side__home:hover,
.side__search:hover,
.side__compass:hover,
.side__reels:hover,
.side__compass:hover,
.side__message:hover,
.side__notification:hover,
.side__plus:hover,
.side__profile:hover,
.side_menu:hover{
    background:rgb(221, 221, 221);;
}

.side__home{
    padding : 10px 100px 10px 5px;
}

.side__search,
.side__reels,
.side__notification,
.side_menu{
    padding : 10px 85px 10px 5px;
 
}
.side__compass,
.side__message,
.side__plus,
.side__profile{
    padding : 10px 72px 10px 5px;
}
.side__home img{
    width:20px;
    padding-right: 10px;
    
}
.side__home{
    font-weight: bold;
}


.side__compass img {
    transform: rotate(180deg);
}
.side__search img,
.side__reels img,
.side__message img,
.side__compass img,
.side__plus img,
.side__profile img,
.side_menu img{
    width: 17px;
    margin-right: 15px;
}

.side__profile img{
    border-radius: 50%;
}

.side__menu{
    margin-top: 270px;
}